# dependencies
/node_modules
/vendor

# production
/build

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/target

# verification files
/public/googlec18ec27bbfdfdfdc.html
/public/ozr1zxehhq1m1zc7twdx06stiao52c.html
/public/BingSiteAuth.xml

#linter 
.stylelintrc.json

#environment
.vscode

#variable
.env